* {
    box-sizing: border-box
}

:root {
    --main-color: #583d72;
}

body {
    font-family: 'Josefin Sans'
}

/*-----------------------------*/

/* Start Navbar */

.navbar {
    background: #fff !important;
    color: #000 !important
}

.navbar .navbar-brand {
    font-size: 25px;
}

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    margin: 0 5px
}

.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
    color: #000 !important;
    font-weight: bold;
    font-size: 14px
}

.navbar .navbar-toggler {
    border-color: #eee !important
}

.navbar .navbar-toggler:focus {
    box-shadow: none
}

/* Start Navbar */
/* Start Header */
.header {
    background: #fff
}

.header .head-style {
    padding-top: 80px
}

.header .head-style .info h1 {
    margin: 0;
    font-weight: bold;
    font-size: 60px;
    color: #444
}

.header .head-style .info p {
    margin: 5px 0;
    font-size: 20px;
    line-height: 1.5
}

.header .head-style .info button {
    background-color: var(--main-color);
    color: #fff;
    border: 3px solid #fff;
    padding: 10px 45px;
    font-size: 20px;
    font-weight: 300;
    display: block;
    margin-top: 20px;
    border-radius: 50px
}

/* End Header */

/* Start Features */

.features {
    padding: 80px 0
}

.features .info {
    padding: 70px 0
}

.features .info h1 {
    font-weight: bold;
    margin: 0;
    font-size: 50px
}

.features .feat {
    margin-bottom: 20px
}

.features .text i {
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #eee
}

.features .text h4 {
    margin: 10px 0;
    color: #444;
    font-weight: bold
}

.features .text p {
    margin: 0;
    font-size: 19px
}

.features .img {
    margin-top: 40px;
    margin-bottom: 20px
}

/* End Features */

/* Start Poster */

.poster {
    background-color: var(--main-color);
    padding: 80px 0
}

.poster .info .text {
    color: #fff;
    margin-top: 70px
}

.poster .info .text h2 {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.4
}

.poster .info .text p {
    margin: 20px 0;
    line-height: 1.7;
    font-size: 18px
}

/* End Poster */

/* Start Poster */

.dolor {
    background-color: #fff;
    padding: 80px 0
}

.dolor .info {
    padding-bottom: 60px
}

.dolor .info h1 {
    font-weight: bold;
    margin: 0;
    font-size: 35px
}

.dolor .dolor-lorem .text-dolor {
    margin-bottom: 50px
}

.dolor .dolor-lorem .text {
    color: #000;
    margin-top: 70px
}

.dolor .dolor-lorem .text h2 {
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.4
}

.dolor .dolor-lorem .text p {
    margin: 10px 0;
    line-height: 1.7;
    font-size: 18px
}

.dolor .dolor-lorem .text button {
    background-color: var(--main-color);
    color: #fff;
    border: 3px solid #fff;
    padding: 10px 45px;
    font-size: 20px;
    font-weight: 300;
    display: block;
    margin-top: 20px;
    border-radius: 50px
}

/* End Poster */

/* Start Products */

.product {
    background: url('../img/call-to-action.jpg') fixed;
    background-size: cover;
    min-height: 300px;
    padding: 50px 0;
    position: relative;
    color: #fff
}

.product .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7)
}

.product .info {
    position: relative;
    z-index: 2
}

.product .info h2 {
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 35px
}

.product .info p {
    margin: 10px 0 40px;
    font-size: 20px
}

.product .info .form input {
    background: #fff;
    padding: 10px 15px;
    outline: none;
    font-size: 20px;
    border: 1px solid #fff;
    width: 30%;
    font-weight: 600;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-right: -3px
}

.product .info .form button {
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
    padding: 10px 45px;
    font-size: 20px;
    font-weight: 600;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: -2px
}

/* End Products */

/* Start Review */

.review {
    background-color: #fff;
    padding: 80px 0
}

.review .info {
    padding-bottom: 60px
}

.review .info h2 {
    font-weight: bold;
    margin: 0;
    font-size: 40px
}

.review .text-review .fix-re {
    margin-bottom: 40px
}

.review .text-review .fix-re p {
    margin: 15px 0;
    line-height: 1.4;
    font-size: 18px;
    font-weight: bold;
    color: #717171
}

.review .text-review .fix-re img {
    width: 80px;
    height: 80px;
    border: 5px solid var(--main-color)
}

.review .text-review .fix-re h5 {
    margin: 10px 0 0;
    color: #444;
    font-weight: bold
}

.review .text-review .fix-re span {
    font-size: 17px
}

.review .text-review a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 10px 0;
    font-size: 20px;
    border-radius: 50px;
    margin: 80px auto 0;
    display: block;
    width: 25%
}

/* End Review */

/* Start Footer */
.footer {
    background-color: #f5f5f5;
    color: #000;
    padding: 40px 0 20px
}

.footer .info span {
    margin-bottom: 15px;
    font-size: 20px;
    display: block
}

.footer .info span a {
    text-decoration: none;
    color: #444
}

.footer .info span a:hover {
    text-decoration: underline
}

.footer .links {
    margin: 0 0 10px;
    padding: 0;
    list-style: none
}

.footer .links li {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase
}

.footer .links li a {
    color: #666;
    text-decoration: none
}

.footer .links li a:hover {
    text-decoration: underline
}

/* End Footer */
